/node_modules
.swp
/static/lib
.DS_Store
npm-debug.log

.idea
*.iml
*.iws
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
